
.container-image ul {
   display: flex;
   flex-wrap: wrap;
   padding-top: 10px;
   justify-content: center;
   gap: 20px;
}

.container-image .image img {
    max-width: 335px;
    height: 431px;
    object-fit: cover; 
      
}

.container-image .image {
    position: relative;
}

.container-image .image .sobre-imagem {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
    line-height: 30px;
}

@media (max-width:425px) {

    .container-image .image {
      width: 100%;
    }
    .container-image ul {
        justify-content: center;
        
    }

}
